*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main__header {
  border: 1px solid black;
  height: 4rem;
}

.main__header h1 {
  margin: 0;
  padding: 0;
  text-align: right;
}

.navbar {
  border: 1px solid black;
  height: 2.5rem;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.nav__item {
  display: inline-block;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.interest__list {
  display: inline-block;
  width: 40%;
}

.interest__div {
  width: 20rem;
  border: 1px solid black;
  margin: 1rem 1rem;
  padding: 0 .5rem;
}

.interest__div__unvisited {
  width: 20rem;
  border: 1px solid lightsalmon;
  margin: 1rem 1rem;
  padding: 0 .5rem;
}

.interest__form {
  display: inline-block;
  width: 50%;
  margin-right: 5rem;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}